.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cards {
    color: #FDFFFC;
    background-color: #011627;
    border-radius: 20px;
    width: 300px;
    margin-top: 40px;
    margin-inline: 30px;
}
.cards img {
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 