header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f2f0;
    padding: 10px;
    width: 100%; /* Cambiamos a porcentaje */
}

.logo {
    width: 70px;
}

.link {
    background-color:#f3f2f0;
    font-size: 15px;
    color: #22333B;
    margin-inline: 10px;
}

.link:hover {
    color: #22333B;
}

a.active {
    color: rgb(16, 15, 36);
    font-size: 23px;
}

nav {
    background-color: #f3f2f0;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.carrito {
    border: none;
    margin-left: auto;
    margin-right: 10px; 
    color: #22333B;
    background-color: #f3f2f0;
    font-size: 17px;
}

.carrito:hover {
    border: none;
    background-color: #f3f2f0;
    color: #22333B;
}
svg{
    background-color: #f3f2f0;
}
.contadorCarrito{
    background-color: #f3f2f0;
}